<div class="nrAB0c"><h3>Google Terms of Service</h3>

    <p>In der <a href="privacy?hl=en-US">Datenschutzerklärung von Google</a> wird erläutert, wie wir mit Ihren
        personenbezogenen Daten verfahren und Ihre Daten schützen, wenn Sie unsere Dienste nutzen.</p>
    <p>Wir reagieren auf Meldungen zu mutmaßlichen Urheberrechtsverletzungen und kündigen die Konten von Personen, die
        wiederholt Verstöße begehen, gemäß dem im US-amerikanischen Urheberrechtsgesetz (Digital Millennium Copyright
        Act) vorgesehenen Verfahren.</p>
    <p>Wir stellen Informationen zur Verfügung, mit deren Hilfe Inhaber von Urheberrechten ihre Rechte online wahrnehmen
        können. Falls Sie der Ansicht sind, dass Ihre Urheberrechte verletzt werden, und Sie uns dies mitteilen möchten,
        finden Sie Informationen zum Einreichen von Benachrichtigungen und die Richtlinien von Google zum Umgang mit
        Benachrichtigungen <a href="https://support.google.com/bin/static.py?hl=en&amp;ts=1114905&amp;page=ts.cs">auf
            unseren Hilfeseiten</a>.</p>

</div>